@model Cosmos.Web.ViewModels.Messages.ListAllMessagesViewModel
@{
    this.ViewData["Title"] = "View All Messages Here";
}
<h1>@this.ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-light">#</th>
                        <th scope="col" class="text-light">Sender</th>
                        <th scope="col" class="text-light">Subject</th>
                        <th scope="col" class="text-light">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.AllMessages.Count; i++)
                    {
                        <tr>
                            <th scope="row" class="text-light">@(i+1)</th>
                            <td class="text-light">@Model.AllMessages.ToArray()[i].SenderName</td>
                            <td class="text-light">@Model.AllMessages.ToArray()[i].Title</td>
                            <td class="text-light">
                                <a asp-controller="Messages" asp-action="Read" asp-route-id="@Model.AllMessages.ToArray()[i].Id" class="btn btn-primary"><i class="far fa-eye">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>