@using Cosmos.Common
@using Cosmos.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/darky.bootstrap.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    @if (this.SignInManager.IsSignedIn(this.User))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Player Menu</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Players" asp-action="Profile">Manage Profile</a>
                                <a class="dropdown-item" asp-controller="Players" asp-action="All">List All Players</a>
                                @*<a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>*@
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Alliance Menu</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Alliances" asp-action="Home">View Alliance</a>
                                <a class="dropdown-item" asp-controller="Alliances" asp-action="Create">Create Alliance</a>
                                <a class="dropdown-item" asp-controller="Alliances" asp-action="All">View All Alliances</a>
                                @*<div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>*@
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Researches" asp-action="All">Research Center</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Starships" asp-action="Dealer">Starship Dealer</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Messages</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Messages" asp-action="Send">Send Message</a>
                                <a class="dropdown-item" asp-controller="Messages" asp-action="All">Messages</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="LiveChats" asp-action="LiveChat">Live Chat</a>
                            </div>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
