@model Cosmos.Web.ViewModels.Researches.ListAllResearchesViewModel
@{
    this.ViewData["Title"] = "Welcome to the Research Center";
}
<h1 class="text-light">@this.ViewData["Title"]</h1>
<img src="~/images/Sci_fi_interior_by_blueroguevyse-d76q4py.webp" class="img-fluid" style="margin-left: 15px" width="1080px" />
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-light">#</th>
                        <th scope="col" class="text-light">Research Name</th>
                        <th scope="col" class="text-light">Required Time</th>
                        <th scope="col" class="text-light">Experience</th>
                        <th scope="col" class="text-light">Actions</th>
                    </tr>
                </thead>
                <tbody id="research-table">
                    @for (int i = 0; i < Model.AllResearches.Count; i++)
                    {
                        <tr>
                            <th scope="row" class="text-light">@(i+1)</th>
                            <td class="text-light">@Model.AllResearches.ToArray()[i].Name</td>
                            <td id="time-required" class="text-light">@Model.AllResearches.ToArray()[i].ResearchTime</td>
                            <td class="text-light">@Model.AllResearches.ToArray()[i].ExperienceGiven</td>
                            <td>
                                <div class="action text-light" asp-controller="Researches" asp-action="All" asp-route-id="@Model.AllResearches.ToArray()[i].Id">
                                    <button class="btn btn-primary text-light"><i class="fas fa-eye"></i>Research</button>
                                    <a class="btn btn-secondary text-light" asp-controller="Researches" asp-action="Details" asp-route-id="@Model.AllResearches.ToArray()[i].Id"><i class="fas fa-eye"></i>Details</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/startResearch.js" type="module"></script>
}
